header {
  height: 400px;
  padding: 15px;
  background-image: url(../img/bookstore.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.alert {
  font-size: 14px;
  padding: 5px;
  width: 100%;
}

.btn {
  margin-top: 20px;
}

.navbar .btn {
  margin-top: 6px;
}

.content-element {
  padding: 40px 0;
  margin: 40px 0;
}

.content-element.silver {
  background: #ECF0F1;
}

h3 {
  margin: 15px 0;
}

.table {
  margin-top: 40px;
  margin-bottom: 40px;
}

.penguin-marg{
  margin-bottom: 30px;
}

.book-list{
  display: block;
  padding-top: 15px;
  padding-bottom: 1px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 20px;
  line-height: 1.72222;
  background-color: #34495E;
  border: 4px solid #48C9B0;
  border-radius: 6px;
  -webkit-transition: border .25s ease-in-out;
  transition: border .25s ease-in-out;
  height: 500px;
}

.book-list p{
  margin-bottom: 6px;
}

.book-list-title{
  color: #1ABC9C;
}

.book-list-content{
  color: #fff;
}
